html{
  font-family: sans-serif;
}
body {
  font-family: Helvetica,STHeiti STXihei,Microsoft Yahei,Tohoma,Arial;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  min-width: 1130px;
}
*, *::before, *::after {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
.flex-block {
    display: -webkit-box;      /* 老语法 iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* 老语法 Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* 过渡语法 IE 10 */
    display: -webkit-flex;     /* 新语法 Chrome */
    display: flex;             /* 新语法, Spec - Opera 12.1, Firefox 20+ */
}
.flex_row_between{
  flex-direction:row;
  justify-content: space-between;
}
.flex-9{
  -webkit-box-flex: 9;
  flex:9;
}
.flex-1{
  -webkit-box-flex: 1;
  flex:1;
}
.main{
  max-width: 1130px;
  margin: 0 auto;
}


