/*Header-----------------------------------------------------*/
.header {
    padding: 10px 40px 10px 40px;
    height: 80px;
    line-height: 76px;
    text-align: left;
    background-color: #fcfcfc;
    margin-bottom: 24px;
}
.header .logo{
    font-size: 28px;
    font-weight: bold;
    font-family: "Microsoft YaHei UI ";
    color: #000;
}
.header .sign_container{
    width: 200px;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}
.header .ys_button{
    width: 80px;
    height: 40px;
    margin-right:14px ;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #dadada;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
}
.header .ys_button:hover{
    color: #00abff;
    border: 1px solid #00abff;
    transition: all .5s ease;
}
.header .ys_button a{
    outline: none;
    text-decoration: none;
    color: #3b3b3b;

}