.nav{
    height: 50px;
    line-height: 46px;
    background-color: #f8f8f8;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    margin-bottom: 34px;
}
/*固定导航栏--------------------------------*/
.nav.fixed{
    width: 100%;
    position: fixed;
    z-index: 12;
    top: 0;
}
.nav_item{
    text-align: center;
    z-index: 20;
    font-size: 14px;
    color: #3b3b3b;
    margin: 14px 1.6% 0;
    text-decoration: none;
    white-space: nowrap;
}
.nav_item:first-child {
    margin-left: 0;
}
.nav_item:hover{
    color:#00bfff;
}
.nav_item_active {
    position: relative;
    color: #00bfff;
    cursor: default;
}
.nav_item_active:after {
    position: absolute;
    top: 24px;
    left: 0;
    content: " ";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #00bfff;
}
